body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #222;
}

.hero {
  height: 100vh;
  background: url("../images/luxury-hotel.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
}

.btn-gold {
  background-color: #c5a24a;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-gold:hover {
  background-color: #b18a38;
}
